{% extends 'layout.html' %}

{% block content %}
    <div class='container'>
        <div class='row'>
            <div class='col-md-6 offset-md-3 box'>
                {% if files %}
                <p class="info">
                    {% for fid, type, token in files %}
                        <p>
                            {{ fid }}
                            <a href="http://0.0.0.0:5001/download/{{fid}}?token={{token}}&content_type={{type}}">→ download</a>
                            <a href="http://0.0.0.0:5000/remove/{{fid}}">→ delete</a>
                        </p>
                    {% endfor %}
                </p>
                {% endif %}
                <h1>Upload file</h1>
                <form id="form" action="http://0.0.0.0:5001/upload" method="post" enctype="multipart/form-data">
                    <input type="text" placeholder="Filename" name="filename"><br>
                    <input type="file" name="file" id='file'>
                    <input type="hidden" name="token" value="{{ upload_token }}" />
                    <input type="hidden" name="callback" value={{ url_for('callback') }} />
                    <button type="submit" class="button">Upload file</button>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/basic-script.js') }}"></script>

{% endblock content %}