{% extends 'layout.html' %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-md-6 offset-md-3 box'>
            <h1>Welcome back!</h1>
            <form action={{ url_for('login') }} method="post">
                <input type="text" placeholder="Username" name="username"><br>
                <input type="text" placeholder="Password" name="password"><br>
                <button type="submit" class="button">Log in</button>
            </form>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6 offset-md-3 info'>
            <p>Don't have an account? <a href={{ url_for('register') }}>Sign up</a></p>
        </div>
    </div>
</div>

{% endblock content %}